.header{
    background-color: #3879a5;
    color: #ecf1ec;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.showCartButton{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    gap: 2rem;
}

.cartIconAndNumber{
    position: relative;
    margin-right: .5rem;
}

.number{
    border: 0.5px solid white;
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.9rem;
    line-height: 1.4;
    top: -13px;
    right: -10px;
}